<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>@ViewData["Title"]</title>
  <base href="/" />
  @Html.Partial("_Favicons")
  @Html.Partial("_BundledStyles")
  @Html.Partial("_BundledScripts")
</head>
<body>
  @RenderBody()
</body>
</html>